%h1 Contacts
//%p Find me in app/views/main/contacts.html.erb
%div
  %p Гуляев Александр
  %p gulyaev.ag@edu.spbstu.ru
%ul
  %li= link_to t('.main'), root_path
  %li= link_to t('.help'), main_help_path
  %li= link_to t('.about'), main_about_path
  %li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org'
