.image
  .row
    -# Кнопка выбора темы
    .col-md-12{:style => "width: 800px; text-align:center;"}
      .left_controls
        .select_theme
          = render 'work/button_theme_select', locale: @current_locale
        %br

    .col-md-12{:style => "width: 800px; text-align:center;"}
      .image_display
        .row.image
          -# Имя темы
          .col-md-12
            %h2.up-theme{:title => t('.theme_name')}
              #{@selected_theme}

          -# Кнопка перелистывание влево
          .col-md-1
            .img-left-side
              %h3{:title => "list to previous image"}
                %i.fa.fa-arrow-circle-left

          -# Имя изображения
          .col-md-10
            %h2.up{:title => "Image file name"}
              #{@selected_image_name}

          -# Кнопка перелистывание вправо
          .col-md-1
            .img-right-side
              %h3{:title => "list to next image"}
                %i.fa.fa-arrow-circle-right

          -# Изображение по-умолчанию
          .col-md-12
            .img-center{:title => "Default image"}
              %img{:alt => "Default Image",
                   :src => 'assets/pictures/Poster_Episode_4.jpg',
                   :title => "Постер к эпизоду 4 \"Новая надежда\"",
                   :style => "width:40%; height:40%;" }
                .image_user_value{:title => "Expert value"}


