p.locale{
  color: tan;
  display: inline-block;
  margin-left: 2em;
  font-size: 1em;
}

b{
  color: #6d61ff;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

li.logged{
  color: #ff9706;
  margin-top: .95em;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 22px;
}

gravatar-logged{
  height: 50%;
  width: 50%;
}

navbar-nav{
  margin-top: .3em;
  font-size: 1.1em;
}
